.share {
    min-height: 100%;
    background-color: #F0F0F0;
}

.share .title {
    color: black;
    padding: 30px;
    margin: 0;
    text-align: center;
}

.share .container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}


.vk-post {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e1e4eb;
    width: 400px;
    padding: 15px 20px 10px 20px;
}
.vk-share-button{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.vk-header{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.vk-header-name{
    text-overflow: ellipsis;
    line-height: 19px;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #42648b;
}

.vk-header-date{
    color: #939393;
}

.vk-hero-photo{
    width: 100%;
}
.vk-content {
    border-bottom: 1px solid #e1e4eb;
}
.vk-footer {
    height: 40px;
}

.ok-share-button {
    text-align: center;
    padding-bottom: 11px;
}

.ok-share-button a {
    display: inline !important;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 0px;
    background-color: #EE8208;
    border-radius: 2px;
    font: 400 12px / 16px Arial, Helvetica, sans-serif;
    text-shadow: none;
    display: block;
    padding: 2px 5px;
    box-sizing: content-box;
    margin: 0;
}


.ok-post {
    background: #fff;
    border-radius: 3px;
    width: 400px;
    padding: 15px 20px 10px 20px;
}
.ok-share-button{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.ok-header{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.ok-header-name{
    text-overflow: ellipsis;
    line-height: 19px;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
}

.ok-header-date{
    color: #939393;
}

.ok-hero-photo{
    width: 100%;
}
.ok-content {
}
.ok-footer {
    height: 34px;
}